{% load static %}	
<html class="wide wow-animation" lang="en">
  {% include 'patrs/pageshead.html' %}
  <body>
    {% include 'patrs/pagespreloader.html' %}
    <div class="page">
    	{% include 'patrs/pagesheader.html' %}
      <section>
        <!--Swiper-->
        <div class="swiper-container swiper-slider swiper-slider-1" data-loop="false" data-autoplay="5000" data-simulate-touch="false">
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="{% static 'images/Journal4.png' %}">
              <div class="swiper-slide-caption context-dark">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10 col-lg-7">
                      <div class="box-animation">
                        <h6 data-caption-animate="slideInLeft" data-caption-delay="150">Висока якість навчання</h6>
                        <h2 data-caption-animate="slideInLeft" data-caption-delay="300"><span class="text-italic font-weight-bold">Швидкий доступ до оцінок</span>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="{% static 'images/Journal1.png' %}">
              <div class="swiper-slide-caption context-dark">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10 col-lg-7">
                      <div class="box-animation">
                        <h6 data-caption-animate="slideInLeft" data-caption-delay="150">Комфортне відображення</h6>
                        <h2 data-caption-animate="slideInLeft" data-caption-delay="300"> <span class="text-italic font-weight-bold">Швидкий доступ</span>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="{% static 'images/Journal2.png' %}">
              <div class="swiper-slide-caption context-dark">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10 col-lg-7">
                      <div class="box-animation">
                        <h6 data-caption-animate="slideInLeft" data-caption-delay="150">Можливість комунікації</h6>
                        <h2 data-caption-animate="slideInLeft" data-caption-delay="300"><span class="text-italic font-weight-bold">Якісне користування</span>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
      {% include 'patrs/pagesfooter.html' %}
    </div>
     {% include 'patrs/java.html' %}
    <!-- coded by Drel-->
  </body>
</html>