{% load static %}
{% include 'patrs/pageshead.html' %}
{% include 'patrs/pageshead.html' %}
{% include 'patrs/pagesheader.html' %}
<section class="section section-lg bg-default text-center">
    <div class="container">
    	<h2 class="wow fadeIn">Новини</h2>
        <div class="row row-30 justify-content-center">
        	{% for new in news %}
            <div class="col-sm-10 col-md-6 wow fadeIn">
              <!-- Post Light--><a class="post-light context-dark" href="#" style="background-image: url('{% static new.path %}');">
                <div class="post-light-inner">
                  <div class="badge">News</div>
                  <div class="post-light-main">
                    <time class="post-light-time" datetime="2019">{{ new.published_date }}</time>
                    <h4 class="post-light-title">{{ new.title }}</h4>
                  </div>
                </div></a>
            </div>
            {% endfor %}
        </div>
	</div>
</section>
{% include 'patrs/pagesfooter.html' %}
{% include 'patrs/java.html' %}