{% load static %}
{% include 'patrs/pageshead.html' %}
{% include 'patrs/pageshead.html' %}
{% include 'patrs/pagesheader.html' %}
<section class="section section-lg bg-default text-center">
    <div class="container">
        <h2 class="wow fadeIn">Предмети</h2>
        <div class="row row-30 row-md-50 row-xl-70">
          	{% for post in posts %}
    			<div class="col-sm-6 col-lg-4 wow fadeIn">
              		<!--Post Minimal-->
              		<div class="post-minimal">
                		<figure class="post-minimal-media"><a href="{% url 'marks' %}"><img class="post-minimal-image" src="{{ post.path }}" alt="" width="370" height="260"/></a></figure>
                    <div class="post-minimal-meta">
                  			<ul class="list-inline">
                    			<li class="list-inline-item">Викладач: </li>
                    			<li class="list-inline-itema"><a href="#">{{ post.author }}</a></li>
                  			</ul>
                		</div>
                	<h4 class="post-minimal-title"><a href="{% url 'marks' %}">{{ post.title }}</a></h4>
              		</div>
            	</div>
			{% endfor %}
        </div>
    </div>
</section>	
{% include 'patrs/pagesfooter.html' %}
{% include 'patrs/java.html' %}